@if (currentPage > 1) {
  <button type="button" (click)="prevPage()">
    <img alt="Назад" src="assets/icons/left.svg" />
  </button>
}

@let pagesView = pages | pagePagination: currentPage : maxPagesView;

@for (page of pagesView; track $index) {
  <button type="button" (click)="setPage(page)">
    <span class="page-number" [class.__active]="page === currentPage">{{ page }}</span>
  </button>
}

@if (currentPage < pages[pages.length - 1]) {
  <button type="button" (click)="nextPage()">
    <img alt="Вперед" src="assets/icons/right.svg" />
  </button>
}
